<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>twarkov</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
	{% endblock %}
</head>

<body>
	{% block content %}
	<div class="center">
		<h1>twarkov!</h1>
		<h3>make a tweet based on your timeline</h3>
		
		<form role="form">
			<input name="username" type="text" placeholder="twitter username"></input><br />
			<button type="submit">generate</button>
		</form>
		
	<div id="result">
		
		<p id="tweet">
		</p>

		<p class="right">
		<a id="tweet-button" class="twitter-share-button"
		href="https://twitter.com/share"
	  	data-text=""
	  	data-size="large"
	  	data-url="http://twarkov.herokuapp.com/">
		tweet this
		</a>
		</p>
	</div>		
	
	</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>