<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>twarkov</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
	{% endblock %}
</head>

<body>
	{% block content %}
	<div class="center">
		<h1>twarkov!</h1>
		<h3>make a tweet based on your timeline</h3>
		
		<form role="form" action="/generate" method="post">
			<input name="username" type="text" placeholder="twitter username"></input><br />
			<button type="submit">generate</button>
		</form>
		
		{% if tweet %}

		<br />
		~*~*~
		<p>
		{{ tweet }}
		<p>
		~*~*~

		<p class="right">
		<a class="twitter-share-button"
		href="https://twitter.com/share"
	  data-text="{{ tweet }}"
	  data-size="large"
	  data-url="http://twarkov.herokuapp.com/">
		tweet this
		</a>
		</p>
		
		{% endif %}
	
	</div>
{% endblock %}

<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

</body>
</html>